# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties

# Keystore files (VERY IMPORTANT - DO NOT COMMIT TO PUBLIC REPOS)
*.jks

# Google Services JSON (Firebase config - often excluded from public repos)
# If your repo is private and team needs it, you can comment this out.
google-services.json

# Example for a specific image you might not want to track
# If 1.png is an asset you DO want, then DO NOT add this line.
# 1.png